{% extends "base.html" %}
{% load static %}

{% block title %}
  Table Visualization
{% endblock title %}

{% block content %}
  <div class="jumbotron">
        <h2 class="text-center">Stock Market Index Details</h2>
    </div>
    <div class="container">
      <div class="dropdown">
        <select name="dropdown" id="dropdown">
          {% for code in alltradecode %}
            {% if code == 'AAMRATECH' %}
              <option selected value="{{ code }}">{{ code }}</option>
            {% endif %}
            <option value="{{ code }}">{{ code }}</option>
          {% endfor %}
        </select>
      </div>
        <div class="chartvisual" style="height: 400px; width: 50%;">
            <canvas id="myChart" width="auto" height="auto"></canvas>
        </div>
        <div class="chartvisual2" style="height: 400px; width: 50%;">
          <canvas id="myChartVol" width="auto" height="auto"></canvas>
      </div>
        <div class="datedata">
            {% for d in date %}
              <p>{{d}}</p>
            {% endfor %}
        </div>
        <table class="table table-hover">

            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Trade Code</th>
                <th scope="col">High</th>
                <th scope="col">Low</th>
                <th scope="col">Open</th>
                <th scope="col">Close</th>
                <th scope="col">Volume</th>
              </tr>
            </thead>

            <tbody>
                {% for elem in obj %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{elem.date}}</td>
                    <td>{{elem.trade_code}}</td>
                    <td>{{elem.high}}</td>
                    <td>{{elem.low}}</td>
                    <td>{{elem.open}}</td>
                    <td>{{elem.close}}</td>
                    <td>{{elem.volume}}</td>

                </tr>
                {% endfor %}

            </tbody>
          </table>

    </div>
    <script>
        // var dates = JSON.parse("{{ dates|escapejs }}")
        // var highs = JSON.parse("{{ highs|escapejs }}")
        // var lows = JSON.parse("{{ lows|escapejs }}")
        // var opens = JSON.parse("{{ opens|escapejs }}")
        // var closes = JSON.parse("{{ closes|escapejs }}")
        // var volumes = JSON.parse("{{ volumes|escapejs }}")
        const masterdict = JSON.parse("{{ masterdict|escapejs }}")
    </script>

    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
    