.edit-icon{
    color: #5b89d4;
    margin-right: 5px;
}

.delete-icon{
    color: #cc3d3d;
    margin-left: 5px;
}

.dropdown{
    padding: 10px;
    float: left;;
    height: 100%;
    width: 25%;
    border: #5b89d4 2px;
    margin-top: 6%;
}

.dropdown select{
    width: 100%;
    padding: 10px;
    background-color: rgb(222, 232, 241);
}
.dropdown h3{
    color: green;
}
.chartvisual{
    float: right;
    width: 75%;
    
}

.chartData{
    display: flex;
}

.editform{
    width: 35%;
    margin: auto;
    margin-top: 50px;
}
.editform form{
    margin: auto;
}

.editform form table tbody{
    width: max-content;
}
.editform form table tbody tr td input{
    width: 100%;
}
td a{
    margin: 5px;
}

td a .bi-pencil-square{
    text-decoration: none;
    color: blue;
}

td a .bi-trash{
    text-decoration: none;
    color: red;
}

.chartData{
    margin-top: 30px;
}
